BLUN_TELEGRAM_AGENT_NAME=default
BLUN_TELEGRAM_BOT_TOKEN=123456789:replace_me
BLUN_TELEGRAM_ALLOWED_CHAT_ID=1605241602,-1003927574737
BLUN_TELEGRAM_CODEX_BIN=codex
BLUN_TELEGRAM_STATE_DIR=
BLUN_TELEGRAM_THREAD_ID=
BLUN_TELEGRAM_RESUME_TIMEOUT_MS=15000
BLUN_TELEGRAM_IDLE_COOLDOWN_MS=15000
BLUN_TELEGRAM_DISPATCH_MODE=deferred
BLUN_TELEGRAM_POLL_INTERVAL_MS=5000
BLUN_TELEGRAM_INJECT_INTERVAL_MS=15000
